.social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social__item {
  filter: url('#goo');

  padding: 0.3rem 1rem;
  position: relative;
  border-radius: 0.3rem;
  background-color: rgba(var(--color), 1);
  border: 1px solid transparent;
}

.social__item::before,
.social__item::after {
  width: 40%;
  height: 100%;
  position: absolute;
  content: '';
  display: inline-block;
  background-color: rgba(var(--color), 1);
  border-radius: 50%;
  transition: transform 0.8s ease;
  transform: scale(0);
  z-index: -1;
}
.social__item::before {
  top: -25%;
  left: 20%;
}
.social__item::after {
  bottom: -25%;
  right: 20%;
}
.social__item:hover::before,
.social__item:hover::after {
  transform: none;
}

.social__icon {
  width: 1.25rem;
  color: rgba(var(--color-text-base));

  transition: color 0.3s ease-in;
}
.social__link {
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.3rem;
}
