---
import GitHub from '@components/icons/GitHub.astro';
import LinkedIn from '@components/icons/LinkedIn.astro';
import './sociaList.css';
---

<ul class="social">
  <li class="social__item">
    <a
      class="social__link"
      href="https://www.linkedin.com/in/j0selu/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="link para ir a LinkedIn"
    >
      <LinkedIn class="social__icon" />
      LinkedIn</a
    >
  </li>
  <li class="social__item">
    <a
      class="social__link"
      href="https://github.com/JoseIu"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="link para ir a Github"
    >
      <GitHub class="social__icon" />
      Github</a
    >
  </li>
  <svg
    style="visibility: hidden; position: absolute; "
    width="0"
    height="0"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
  >
    <defs>
      <filter id="goo"
        ><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
          result="goo"></feColorMatrix>
        <feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
      </filter>
    </defs>
  </svg>
</ul>
