---
import GitHub from '@components/icons/GitHub.astro';
import LinkedIn from '@components/icons/LinkedIn.astro';
import './sociaList.css';
---

<ul class="social">
  <li class="social__item">
    <a
      class="social__link"
      href="https://www.linkedin.com/in/j0selu/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="link para ir a LinkedIn"
    >
      <LinkedIn class="social__icon" />
      LinkedIn</a
    >
  </li>
  <li class="social__item">
    <a
      class="social__link"
      href="https://github.com/JoseIu"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="link para ir a Github"
    >
      <GitHub class="social__icon" />
      Github</a
    >
  </li>
  <!-- <li class="social__item">
    <a
      class="social__link"
      href="https://www.instagram.com/j0seluu_s/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="link para ir a Instagram">Instagram</a
    >
  </li> -->
</ul>
