@charset "UTF-8";
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.woff') format('woff');
  font-weight: 600;
}

:root {
  --color-text-base: 255, 255, 255;
  --color-text-muted: 150, 150, 150;
  --color-text-inverted: 255, 255, 255;
  --color-fill: 18, 18, 18;
  --muted: 36, 36, 36;
  --color: 227, 77, 10;
  --color-button-accent: 227, 77, 10;
  --color-button-accent-hover: 231, 121, 43;
  --color-button-muted: 26, 26, 26;

  --tw-bg-opacity: 1;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;

  --primary-font: 'Geist', system-ui, sans-serif;
  --border-color: 0.0625rem solid rgb(255 255 255 / 0.25);
  --tw-ring-color: rgba(var(--muted), 1);
  --tw-ring-shadow: 0 0 0 1px var(--tw-ring-color);
  --box-shadow: var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
/* .dark {
  --color-text-base: 0, 0, 0;
  --color-text-muted: 120, 120, 120;
  --color-text-inverted: 255, 255, 255;
  --color-fill: 245, 245, 245;
  --muted: 200, 200, 200;
  --color: 249, 115, 22;
  --color-button-accent: 249, 115, 22;
  --color-button-accent-hover: 55, 55, 55;
  --color-button-muted: 244, 239, 238;
  [data-theme='blue'] {
    --color-text-base: 248, 250, 252;
    --color-text-muted: 148, 163, 184;
    --color-text-inverted: 240, 240, 240;
    --color-fill: 2, 6, 23;
    --muted: 51, 65, 85;
    --color: 59, 130, 246;
    --color-button-accent: 59, 130, 246;
    --color-button-accent-hover: 0, 185, 255;
    --color-button-muted: 30, 41, 59;
  }
  [data-theme='red'] {
    --color-text-base: 231, 229, 228;
    --color-text-muted: 168, 162, 158;
    --color-text-inverted: 245, 245, 245;
    --color-fill: 28, 25, 23;
    --muted: 45, 45, 45;
    --color: 248, 113, 113;
    --color-button-accent: 248, 113, 113;
    --color-button-accent-hover: 220, 50, 70;
    --color-button-muted: 120, 113, 108;
  }
  [data-theme='green'] {
    --color-text-base: 230, 230, 230;
    --color-text-muted: 104, 124, 104;
    --color-text-inverted: 230, 230, 230;
    --color-fill: 10, 20, 10;
    --muted: 54, 64, 54;
    --color: 132, 204, 22;
    --color-button-accent: 132, 204, 22;
    --color-button-accent-hover: 120, 220, 120;
    --color-button-muted: 34, 44, 34;
  }
  [data-theme='cyber'] {
    --color-text-base: 252, 255, 64;
    --color-text-muted: 125, 125, 125;
    --color-text-inverted: 240, 240, 240;
    --color-fill: 15, 15, 15;
    --muted: 50, 50, 50;
    --color: 90, 237, 251;
    --color-button-accent: 90, 237, 251;
    --color-button-accent-hover: 0, 185, 255;
    --color-button-muted: 25, 81, 86;
  }
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;

  -o-object-fit: cover;
  object-fit: cover;

  -o-object-position: center center;
  object-position: center center;
}

a {
  /* display: block; */
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cal Sans', system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  position: relative;
  color: rgba(var(--color-text-base));
  background-color: rgba(var(--color-fill), var(--tw-bg-opacity));
  font-family: var(--primary-font);
  min-height: 100vh;
  font-size: 100%;
  scroll-behavior: smooth;
}
