---
import Home from '../components/Home.astro';
import Proyects from '../components/Proyects.astro';
import SoftSkills from '../components/sections/SoftSkills.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Joselu">
  <main>
    <Home />
    <Proyects />
    <Skills />
    <SoftSkills />
  </main>
</Layout>
