---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import Experience from "../components/Experience.astro";
import Proyects from "../components/Proyects.astro";
import Aboutme from "../components/Aboutme.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Joselu">
  <Header />
  <main>
    <Home />

    <Experience />

    <Proyects />

    <Aboutme />
  </main>
  <Footer />
</Layout>
