---

---

<footer class="footer wrapper">
  <img src="#" alt="Logo" />
  <ul class="footer__socials">
    <li class="footer__item">
      <a class="footer__link" href="">G</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="">Li</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="">Inst</a>
    </li>
  </ul>
</footer>

<style>
  .footer {
    width: 95%;
    padding: 1em;
    border-radius: 1em;
    background-color: #222;
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__socials {
    width: 100%;

    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: end;
  }
</style>
