<header class="header wrapper">
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="#experience">Experiencia</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#proyects">Proyectos</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#about">Sobre mí</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    position: sticky;
    padding: 1.3em 0 0 0;
  }
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__list {
    max-width: 30em;
    padding: 0.5em 1.5em;
    border-radius: 1em;

    background-color: #ffffff0d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
  .header__link {
    transition: all 0.3s ease;
  }
  .header__link:hover {
    color: rgba(12, 128, 57, 0.801);
  }
</style>
