<header class="header wrapper">
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="/">Experiencia</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/">Proyectos</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="/">Sobre mí</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    position: sticky;
    padding: 1.3em 0 0 0;
    /* background-color: violet; */
  }
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
  }
  .header__list {
    max-width: 30em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
  }
</style>
