---
import GitGubIcon from './icons/GitHub.astro';
import LinkeInIcon from './icons/LinkedIn.astro';

import Experience from './Experience.astro';
import EmailIcon from './icons/Email.astro';
import Phone from './icons/Phone.astro';
import WorldMap from './icons/WorldMap.astro';
---

<script>
  function updatePath() {
    const textMain = document.querySelector('#anim-p') as HTMLElement;
    const path = document.querySelector('#border-path') as SVGPathElement;

    if (textMain && path) {
      path.setAttribute(
        'd',
        `M0,0 V${textMain.offsetHeight + 13} H${textMain.offsetWidth} v${textMain.offsetHeight - 50}`
      );
      const pathLength = path.getTotalLength();

      path.style.strokeDasharray = pathLength.toString();
      path.style.strokeDashoffset = pathLength.toString();
    }
  }

  // Update the path when the page loads
  window.addEventListener('DOMContentLoaded', updatePath);
  // Update the path when the window is resized
  window.addEventListener('resize', updatePath);
</script>

<section class="home wrapper" id="home">
  <div class="right">
    <section class="home__content">
      <figure class="figure">
        <img src="/me_avatar.jpg" alt="" class="figure__img" />
        <div class="figure__lines">
          <div class="figure__line figure__line--1"></div>
          <div class="figure__line figure__line--2"></div>
          <div class="figure__line figure__line--3"></div>
          <div class="figure__line figure__line--4"></div>
        </div>
      </figure>

      <div class="profile" id="anim-p">
        <h1 class="profile__title">Joselu</h1>
        <h2 class="profile__subtitle smoke">Full Stack Developer</h2>
        <div class="profile__location smoke">
          <WorldMap class="profile__icon" />
          <span>Madrid, España</span>
        </div>
        <ul class="socials">
          <li class="socials__item">
            <a
              class="socials__link"
              href="mailto:joseluissgz97@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="email"
            >
              <EmailIcon class="socials__icon" />
              <span class="visually-hidden">Email</span>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="mailto:joseluissgz97@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Phoe"
            >
              <Phone class="socials__icon" />
              <span class="visually-hidden">Phone</span>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://www.linkedin.com/in/j0selu/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="LinkedIn"
            >
              <LinkeInIcon class="socials__icon" />
              <span class="visually-hidden">LinkedIn</span>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://github.com/JoseIu"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="GitHub"
            >
              <GitGubIcon class="socials__icon" />
              <span class="visually-hidden">GitHub</span>
            </a>
          </li>
        </ul>

        <svg class="profile__fancy">
          <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style={{ stopColor: '#DC3A2B', stopOpacity: 1 }}></stop>
              <stop offset="100%" style={{ stopColor: '#E18510', stopOpacity: 1 }}></stop>
            </linearGradient>
          </defs>
          <path id="border-path" fill="none" stroke="url(#gradient)" stroke-width="1"></path>
        </svg>
      </div>
    </section>

    <section class="about">
      <h3 class="about__title">Sobre mí</h3>
      <p class="about__description smoke">
        Desarrollador web. Apasionado por las nuevas tecnologías. En búsqueda de una oportunidad para crecer y
        aprender en este fascinante mundo del desarrollo.
      </p>
    </section>
  </div>

  <Experience />
</section>
<style>
  .right {
    padding: 4rem 0 4rem 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .home {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 2rem;
    margin-bottom: 3em;
  }
  .home__content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  @media screen and (max-width: 850px) {
    .home {
      grid-template-columns: 1fr;
    }
  }
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    .profile__title {
      font-size: 2.25em;
      font-weight: 700;
      line-height: 2.5rem;
    }
    .profile__subtitle,
    .profile__location {
      line-height: 1.5rem;
    }
    .profile__location {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875em;
    }
    .profile__icon {
      width: 0.9rem;
    }
  }
  .profile__fancy {
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: -3.1rem;
    left: -0.7rem;
    overflow: visible;
  }

  .figure {
    width: fit-content;
    position: relative;
    .figure__img {
      width: 8rem;
      border-radius: 1rem;
      aspect-ratio: 1/1;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .figure__lines {
      position: absolute;
      inset: -0.8rem;
      z-index: -1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        height: 100%;
        background-color: rgba(var(--color), 0.2);
        border-radius: 100%;
        filter: blur(60px);
      }
    }
    .figure__line {
      position: absolute;
      background-color: rgba(var(--color), 0.5);
    }
    .figure__line--1,
    .figure__line--2 {
      mask-image: linear-gradient(to top, transparent, white 4rem, white calc(100% - 4rem), transparent);
    }
    .figure__line--1 {
      width: 1px;
      right: 0;
      top: -2rem;
      bottom: -2rem;
    }
    .figure__line--2 {
      width: 1px;

      left: 0;
      top: -2rem;
      bottom: -2rem;
    }
    .figure__line--3,
    .figure__line--4 {
      mask-image: linear-gradient(to left, transparent, white 4rem, white calc(100% - 4rem), transparent);
    }
    .figure__line--3 {
      height: 1px;
      bottom: 0;
      left: -2rem;
      right: -2rem;
    }
    .figure__line--4 {
      height: 1px;
      top: 0;
      left: -2rem;
      right: -2rem;
    }
  }
  @media screen and (min-width: 400px) {
    .home__title {
      flex-direction: row;
      align-items: center;
    }
  }
  .socials {
    padding-top: 0.5rem;
    display: flex;
    gap: 0.25rem;
  }

  .socials__link {
    padding: 0.5rem;
    color: rgba(var(--color));
    border-radius: 0.375rem;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .socials__link:hover {
    color: rgba(var(--color-text-base));

    background-color: rgba(var(--color));
  }
  .socials__icon {
    width: 1rem;
    height: 1rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
    .about__title {
      font-size: 1.875em;
    }
    .about__description {
      max-width: 20rem;
      font-size: 0.875em;
      line-height: 1.5;
      text-wrap: pretty;
    }
  }
  #border-path {
    animation: draw 1s forwards 1s ease-out;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
</style>
