---
import { getProjectsFetaturd } from 'src/utils/getProjectsCollection';
import CodeIcon from './icons/Code.astro';
import ProyectCard from './ProyectCard/ProyectCard.astro';
import SectionTitle from './section-title/SectionTitle.astro';

const projects = await getProjectsFetaturd();
---

<section class="proyects wrapper" id="proyects" transition:persist>
  <SectionTitle title="Proyectos destacados">
    <CodeIcon class="section-icon" />
  </SectionTitle>

  <div class="proyects__list">
    {projects.map(proyect => <ProyectCard proyect={proyect} />)}
  </div>
  <a href="/projects" class="proyects__more">Ver más . . . . . . . . .</a>
</section>

<style>
  .proyects {
    padding: 1em;
    margin-bottom: 3em;
    transition: all 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
  .proyects__list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2em;
  }
  .proyects__more {
    color: rgba(var(--color), 1);
  }
  @media screen and (max-width: 768px) {
    .proyects__list {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
</style>
