---
import { getProjectsFeatured } from 'src/utils/getProjectsCollection';
import CodeIcon from './icons/Code.astro';
import ProyectCard from './ProyectCard/ProyectCard.astro';
import ProyectCardFeatured from './proyectCardFeatured/ProyectCardFeatured.astro';
import SectionTitle from './section-title/SectionTitle.astro';

const projects = await getProjectsFeatured();
---

<section class="proyects wrapper" id="proyects" transition:persist>
  <SectionTitle title="Proyectos destacados" id="proyects-list">
    <CodeIcon class="section-icon" aria-hidden="true" />
  </SectionTitle>

  <ul class="proyects__list" aria-describedby="proyects-list">
    {
      projects.map(proyect =>
        proyect.data.isFeatured ? (
          <ProyectCardFeatured proyect={proyect} />
        ) : (
          <ProyectCard proyect={proyect} />
        )
      )
    }
  </ul>
  <a href="/projects" class="proyects__more" aria-label="Ver más proyectos destacados"
    >Ver más . . . . . . . . .</a
  >
</section>

<style>
  .proyects {
    padding: 1em;
    margin-bottom: 3em;
    transition: all 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    row-gap: 2em;
  }
  .proyects__list {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2em;
  }
  .proyects__more {
    color: rgba(var(--color), 1);
  }
  @media screen and (max-width: 768px) {
    .proyects__list {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
</style>
