---
import { ClientRouter } from 'astro:transitions';

import Header from '@components/header/Header.astro';
import 'cal-sans';
import '../styles/reset.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/code.svg" />

    <!-- Open Graph Meta Tags -->
    <meta property="description" content="Joselu Frontend Developer - React - Next.js - Astro" />
    <meta property="og:title" content="Joselu Frontend Developer" />
    <meta property="og:description" content="Joselu Frontend Developer - React - Next.js - Astro" />
    <meta property="og:url" content="https://joselu-portfolio.vercel.app" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://joselu-portfolio.vercel.app/me_avatar.webp" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="Joselu Frontend Developer" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Joselu" />
    <meta name="twitter:creator" content="@Joselu" />
    <meta name="twitter:title" content="Joselu Frontend Developer" />
    <meta name="twitter:description" content="Joselu Frontend Developer - React - Next.js - Astro" />

    <meta property="og:url" content="https://joselu-portfolio.vercel.app/" />
    <link rel="canonical" href="https://joselu-portfolio.vercel.app" />

    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  .wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .smoke {
    color: rgba(var(--color-text-muted), 1);
  }

  .section-icon {
    width: 1em;
    color: rgba(var(--color), 1);
  }

  .building {
    color: rgb(var(--color), 1);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
  }
</style>
